# Haskell

*.hi
*.o
*.html
*.tix
TestParse
.hpc/
.hspec-failures
UnitSpec
dist/
cfst.h*
cfst
CFSTUtils.hs

#Latex
*.aux
*.log
*.bbl
*.blg
*.dvi
*.glo
*.lof
*.lot
*.out
*.synctex.gz
*.toc
*.dvi
*.ps
main.pdf

# Inforum
cfst-inforum18.pdf
