# PDF
*pdf

# Haskell
*.hi
*.o
*.html
*.tix
TestParse
.hpc/
.hspec-failures
UnitSpec
ProgSpec
cfst.h*
cfst
FreeSTRuntime.hs
Parser.hs
Lexer.hs
GrammarParser.hs
GrammarLexer.hs
testEquiv.hp
testEquiv.prof
Parser.hs
Lexer.hs
*.cabal
dist
dist-*
.stack-work/

# Test files (gen)
# FreeST/test/Programs/*/*/*
# !FreeST/test/Programs/*/*/*.fst
# !FreeST/test/Programs/*/*/*.expected
# !FreeST/test/Programs/ValidTests/*/*.expected

# Stack
stack.yaml.lock

#Latex
*.aux
*.log
*.bbl
*.blg
*.dvi
*.glo
*.lof
*.lot
*.out
*.synctex.gz
*.toc
*.dvi
*.ps
*.rel
*.vtc
*.nav
*.snm
*.vrb
*.pag

# AucTeX
auto

# Emacs
*#
*~