# PDF
*pdf

# Haskell
*.hi
*.o
*.html
*.tix
TestParse
.hpc/
.hspec-failures
UnitSpec
ProgSpec
dist/
cfst.h*
cfst
CFSTUtils.hs
Parser.hs
Lexer.hs
testEquiv.hp
testEquiv.prof

#Latex
*.aux
*.log
*.bbl
*.blg
*.dvi
*.glo
*.lof
*.lot
*.out
*.synctex.gz
*.toc
*.dvi
*.ps
*.rel
*.vtc
*.nav
*.snm
*.vrb
*.pag

# AucTeX
auto

